@charset "ISO-8859-1";
* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	overflow-x: hidden;
}

.container {
	display: flex;
}

label {
	display: table;
	width: 200px;
	overflow: hidden;
}

.nav-item {
	position: sticky;
	top: 0;
	bottom: 0;
	left: 0;
	width: 68px;
	background: linear-gradient(#003180, #174590);
	transition: 0.2s;
}

.nav-2 {
	overflow: auto;
	height: 86.2vh;
	overflow-x: hidden;
}

.ubon-img {
	height: 20px;
	width: 20px;
}

.nav-item:hover {
	width: 280px;
	transition: 0.2s;
}

.side-nav {
	height: 20px;
	width: 20px;
	position: absolute;
}

.main {
	position: relative;
	padding: 20px;
	width: 100%;
	overflow: auto;
	overflow-x: hidden;
	height: 100vh;
}

i {
	font-size: 20px;
	padding-left: 10px;
	display: flex;
	justify-content: flex-start;
}

label {
	position: relative;
	margin-left: 60px;
	color: white;
	display: flex;
	justify-content: flex-start;
	bottom: 20px;
	cursor: pointer;
}

a {
	position: relative;
	width: 280px;
	font-size: 14px;
	color: white;
	display: table;
	padding: 10px;
	top: 9px;
}

.ubon-img {
	position: relative;
	left: 20px;
	mix-blend-mode: screen;
	top: 10px;
}

.ubon-title {
	position: relative;
	left: 10px;
	color: white;
	bottom: 12px;
}

ul {
	border-top: 1px solid white;
	padding-top: 10px;
}

li:hover {
	background-color: #3c629e;
}

li.active {
	background-color: #194285;
}

.Log_container:hover {
	background-color: #3c629e;
}

.log-img {
	position: relative;
	height: 50px;
	width: 50px;
	top: 15px;
	left: 10px;
}

.id-label {
	font-size: 13px;
	position: relative;
	left: 11px;
}

.Log_container i {
	color: white;
	font-size: 10px;
	position: relative;
	bottom: 38px;
	left: 230px;
}

.logout-popup {

	background-color: white;
	height: 180px;
	width: 270px;
	border-radius: 3px;
	border: none;
	transform: translate(0%, -5%)scale(0);
	position: absolute;
	left: 100px;
	bottom: 0px;
	box-shadow: 0px 0px 17px 6px rgba(0, 0, 0, 0.2);
}

.log-img-2 {
	position: relative;
	top: 25px;
	left: 15px;
}

/* This is used for logout when show popup*/
.btn-out-2{
    position: relative;
    top: 70px;
    height: 30px;
    width: 250px;
    left: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(35, 133, 238);
    color: white;
    cursor: pointer;
}

/*transform: translate(0%,-5%) scale(1);  (left) (down) */
.logout-popup.active {
	display: block;
	transition: all 10ms ease-in-out;
	transform: translate(0%, -5%) scale(1);
}

.logout-label {
	position: relative;
	bottom: 7px;
	left: 10px;
	font-size: 14px;
	color: black;
}

#logout-icon {
	padding: 2px;
}

/* ======================== After side bar ======================================================= */


.entryArea-1 {
	display: flex;
	margin-top: 20px;
}

.entryArea-1 input {

	outline: none;
	height: 30px;
	width: 140px;
	border-radius: 4px;
	padding: 0 30px;
	border: 2px solid gray;
	background: transparent;
	transition: 0.1s ease;
	z-index: 1111;
	font-size: 15px;
	
}

.entryArea-1 input::placeholder {
	font-size: 11px;
	opacity: 0;
	transition: 0.1s;
}

.entryArea-1 input:focus::placeholder {
	opacity: 1;
}

.entryArea-1 input:hover {
	border: 2px solid black;
}

.labelLine-1 {
	position: relative;
	background-color: white;
	transition: 0.2s ease;
	color: gray;
	font-size: 12px;
	right: 110px;
	display: flex;
	align-items: center;
}

.entryArea-1 input:focus {
	color: rgb(86, 86, 86);
	border: 2px solid rgb(35, 133, 238);
}

.entryArea-1 input:focus+.labelLine-1,
.entryArea-1 input:valid+.labelLine-1 {
	color: rgb(35, 133, 238);
	height: 20px;
	transform: translate(-25px, -10px) scale(0.88);
	z-index: 1111;
	position: relative;

}

#train-logo {
	position: relative;
	font-size: 15px;
	color: gray;
	margin-top: 8px;
	left: 20px;
	z-index: 1;
}

.btn-1 {
	background-color: rgb(35, 133, 238);
	width: 90px;
	height: 25px;
	border-radius: 3px;
	border: none;
	color: white;
	text-transform: uppercase;
	bottom: 24px;
	padding: 5px;
	cursor: pointer;
	margin-top: 2px;
	margin-left: 20px;
	font-size: 12px;
}

.btn-1:hover{
	background-color: rgb(58, 140, 228);
}

/* ============================== Custom input feild, icon and label ================================= */

#entryArea1{
	position: relative;
	right: 24px;
}

#entryArea2{
	position: relative;
	right: 105px;
}

/* ================================= Reservation-Block  ======================= */

#InputsButtonBlock{
	 display: flex;
	 justify-content: space-around; 
	 width: 50%;	
}

#ReservedFareEnquiryTag{
	margin-top: 20px;
}

#ReservationBlock{
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

#ReservationBlock a:hover{
	background-color: rgb(210, 210, 210);
}

.ReservedFair{
	width: 100%;
}

.ReservedFair a{
	text-align: center;
	width: 100%;
	color: gray;
}

.UneservedFair{
	width: 100%;
}

.UneservedFair a{
	text-align: center;
	width: 100%;
}

.currentPage{
	font-size: 17px;
	text-transform: uppercase;
	color: rgb(58, 140, 228);
	border-bottom: 2px solid rgb(58, 140, 228);

}

.nonCurrentPage{
	font-size: 17px;
	text-transform: uppercase;
}

/* ======================== Input Area Feilds ================================ */

#Inputscontainers1{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#Inputscontainers2{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-top: 20px;
}

#selectClass{
	border: 2px solid gray;
	height: 30px;
	width: 140px;
	border-radius: 4px;
	position: relative;
	top: 10px;
	right: 157px;
}

#selectTrainType{
	border: 2px solid gray;
	height: 30px;
	width: 140px;
	border-radius: 4px;
	position: relative;
	top: 10px;
	right: 109px;
}
#selectJourneyType{
	border: 2px solid gray;
	height: 30px;
	width: 140px;
	border-radius: 4px;
	position: relative;
	top: 10px;
}

/* ========================== This Is Fare Faield Area ======================================= */

#status-1 {
	margin-top: 30px;
	border-radius: 5px;
	border-top: 1px solid rgb(248, 245, 245);
	border-left: 2px solid rgb(230, 228, 228);
	border-right: 2px solid rgb(230, 228, 228);
	border-bottom: 2.3px solid rgb(172, 171, 171);
	padding: 10px;
}

#status-1 p{
	padding-left: 10px;
}

#mainFareField{
	display: flex;
	justify-content: space-between;
	width: 30%;
	padding-top: 20px;
} 

.ticketallField{
	text-transform: uppercase;
	text-align: center; 
}

.ticketArea{
	display: flex;
}

.fa-indian-rupee-sign{
	font-size: 14px;
}

.icon{
	background-color: #003180;
	align-items: center;
	height: 30px;
	width: 30px;
	padding-top: 6px;
	padding-right: 37px;
	color: white;
	border-radius: 50%;
}