<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Validate</servlet-name>
  	<display-name>Validate</display-name>
  	<description></description>
  	<servlet-class>com.myackCRM.Validate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Example</servlet-name>
  	<display-name>Example</display-name>
  	<description></description>
  	<servlet-class>com.mypack_Servalet.Example</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Fetching_mails</servlet-name>
  	<display-name>Fetching_mails</display-name>
  	<description></description>
  	<servlet-class>com.mypack_Servalet.Fetching_mails</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>logoutAction</servlet-name>
  	<display-name>logoutAction</display-name>
  	<description></description>
  	<servlet-class>com.mypack_Servalet.logoutAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutAction</servlet-name>
  	<display-name>LogoutAction</display-name>
  	<description></description>
  	<servlet-class>com.mypack_Servalet.LogoutAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PNR_action</servlet-name>
  	<display-name>PNR_action</display-name>
  	<description></description>
  	<servlet-class>com.mypack_Servalet.PNR_action</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FindData</servlet-name>
  	<display-name>FindData</display-name>
  	<description></description>
  	<servlet-class>com.mypack_Servalet.FindData</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SpotTrainAction</servlet-name>
  	<display-name>SpotTrainAction</display-name>
  	<description></description>
  	<servlet-class>com.mypack_Servalet.SpotTrainAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Spot_TrainAction</servlet-name>
  	<display-name>Spot_TrainAction</display-name>
  	<description></description>
  	<servlet-class>com.mypack_Servalet.Spot_TrainAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RunningStatus</servlet-name>
  	<display-name>RunningStatus</display-name>
  	<description></description>
  	<servlet-class>com.mypack_Servalet.RunningStatus</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CompalintAction</servlet-name>
  	<display-name>CompalintAction</display-name>
  	<description></description>
  	<servlet-class>com.mypack_Servalet.CompalintAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FareAndSeatAction</servlet-name>
  	<display-name>FareAndSeatAction</display-name>
  	<description></description>
  	<servlet-class>com.mypack_Servalet.FareAndSeatAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SetFareAndSeat</servlet-name>
  	<display-name>SetFareAndSeat</display-name>
  	<description></description>
  	<servlet-class>com.mypack_Servalet.SetFareAndSeat</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StationAction</servlet-name>
  	<display-name>StationAction</display-name>
  	<description></description>
  	<servlet-class>com.mypack_Servalet.StationAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FetchingComplaint</servlet-name>
  	<display-name>FetchingComplaint</display-name>
  	<description></description>
  	<servlet-class>com.mypack_Servalet.FetchingComplaint</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Validate</servlet-name>
  	<url-pattern>/Validate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Example</servlet-name>
  	<url-pattern>/Example</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Fetching_mails</servlet-name>
  	<url-pattern>/Fetching_mails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logoutAction</servlet-name>
  	<url-pattern>/logoutAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutAction</servlet-name>
  	<url-pattern>/LogoutAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PNR_action</servlet-name>
  	<url-pattern>/PNR_action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FindData</servlet-name>
  	<url-pattern>/FindData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SpotTrainAction</servlet-name>
  	<url-pattern>/SpotTrainAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Spot_TrainAction</servlet-name>
  	<url-pattern>/Spot_TrainAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RunningStatus</servlet-name>
  	<url-pattern>/RunningStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CompalintAction</servlet-name>
  	<url-pattern>/CompalintAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FareAndSeatAction</servlet-name>
  	<url-pattern>/FareAndSeatAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SetFareAndSeat</servlet-name>
  	<url-pattern>/SetFareAndSeat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StationAction</servlet-name>
  	<url-pattern>/StationAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FetchingComplaint</servlet-name>
  	<url-pattern>/FetchingComplaint</url-pattern>
  </servlet-mapping>
</web-app>
